root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
tab_width = 4

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_readonly_field = true:warning

csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
csharp_style_prefer_primary_constructors = false:silent
csharp_style_prefer_top_level_statements = false:silent

[*.{xaml,xml,props,targets,csproj}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
